@import '../media-queries';

header {
	text-align: center;
	width: 100%;
	position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 252, 252, 0.25), rgba(255, 254, 254, 0.15)), url("../images/ballpen-blur-close-up-computer-461077.jpg");;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
    background-color: white;
    font-size: 5em;
    font-weight: 700;
    margin: 0;
    @include sm {
      font-size: 3em;
    }
    @include xs {
      font-size: 1.5em;
    }
}

div.scroll_down {
    font-size: 4em;
    font-weight: 700;
    bottom: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    @include sm {
      font-size: 3em;
    }
    @include xs {
      font-size: 1.5em;
    }
}

.scroll_down:before {
    display: block !important;
    margin: -36px;
}

div.scroll_down {
  animation: bouncetext .6s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
  animation-delay: 0;
}

@keyframes bouncetext {
  0%{transform: translateY(0px);}
  100% {transform: translateY(-25px);}
} 

.header_arrow {
  height: 2em;
  width: 2em;
  @include sm {
    height: 1.4em;
    width: 1.4em;
    }
  @include xs {
    height: 1em;
    width: 1em;
    }
}
