@import '../media-queries';

.contact_h2 {
    font-size: 3.5em;
    text-decoration: underline;
    margin-bottom: 2%;
    @include sm {
        font-size: 2.2em;
    }
    @include xs {
        font-size: 2em;
    }
}

.contact_section {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 252, 252, 0.5), rgba(255, 254, 254, 0.5)), url("https://static.pexels.com/photos/2318/vintage-technology-keyboard-old-large.jpg");
    // background-attachment: fixed;
    background-size: cover;
    background-repeat: space;
    @include sm {
        background-size: auto;
        background-repeat: no-repeat;
    }
    @include xs {
        background-size: auto;
        background-repeat: no-repeat;
    }
}

.contact_h3 {
    font-size: 2.3em;
    font-weight: 700;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include xs {
        font-size: 1.7em;
    }
}

.contact_link {
    color: blue;
    margin: 10px 0 0 10px;
      &:hover {
        cursor: pointer;
        color: green;
        transform: scale(1.1);
        transition: all .4s ease-in-out;
      }
}