.contact_h2 {
    font-size: 3em;
    text-decoration: underline;
}

.contact_section {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(255, 252, 252, 0.5), rgba(255, 254, 254, 0.5)), url("../images/ballpen-blur-close-up-computer-461077.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: space;
}

.contact_h3 {
    font-size: 1.9em;
    font-weight: 700;
    margin: 2%;
}

a {
    color: blue;
    margin: 4px;
}

.contact_icons {
    margin-top: 3px;
}

.about_headshot {
    width: 50px;
}