.contact_h2 {
    font-size: 2em;
    text-decoration: underline;
}

.contact_section {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.contact_h3 {
    font-size: 1.7em;
    font-weight: 700;
    margin: 2%;
}

a {
    color: blue;
}

.contact_icons {
    margin-top: 3px;
}