.projects_section {
    // background-attachment: fixed;
//   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
//     url("../../backgrounds/background-light-grey.jpg");
//   background-position: center;
//   background-repeat: no-repeat;
  display: flex;
  margin-bottom: 10%;
  width: auto;
  justify-content: center;
}

.description_container {
    display: flex;
    flex-direction: column;
    margin: 3%;
    width: 420px;
}

.project_title {
    font-size: 2em;
    font-weight: 700;
    text-decoration: underline;
    margin: 3%;
}

.project_description {
    font-size: 1.7em;
}

.image_container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.image {
    width: 550px;
}

.icon_container {
    height: 100px;
}

.icon_link {
    height: 3em;
    width: 3em;
}
