@import '../media-queries';

.project_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include sm {
        flex-wrap: wrap;
    }
    @include xs {
        flex-wrap: wrap;
    }
}

.projects_section {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(212, 210, 210, 0.59), rgba(189, 186, 186, 0.58)),
        url("../images/grey_slate_image.png");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 8%;
    width: 90%;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 9px 15px 9px #000000a3;
    height: auto;
    @include md {
        flex-direction: column-reverse;
    }
    @include sm {
        flex-direction: column-reverse;
    }
    @include xs {
        flex-direction: column-reverse;
    }
}

.projects_heading {
    font-size: 3.5em;
    text-decoration: underline;
    margin-bottom: 2%;
    @include sm {
        font-size: 2em;
    }
    @include xs {
        font-size: 1.7em;
    }  
}

.description_container {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.project_title {
    font-size: 2.5em;
    font-weight: 700;
    text-decoration: underline;
    margin: 3%;
    @include xs {
        margin: 0;
        font-size: 2em;
    }
}

.project_description {
    font-size: 2em;
    font-weight: 700;
    @include xs {
        font-size: 1.5em;
        margin: 2% 0;
    }
}

.image_container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 3%;
    padding: 1.1%;
    @include md {
        margin-top: 2%;
    }
    @include sm {
        margin-top: 2%;
    }
}

.image {
    max-width: 470px;
    max-height: 470px;
    box-shadow: 11px 11px 9px #000000a1;
    border-radius: 10px;
    @include sm {
        max-width: 385px;
        max-height: 400px;
    }
    @include xs {
        margin-top: 1%;
        max-width: 250px;
        max-height: 250px;
    }
}

.icon_link {
    height: 3em;
    width: 3em;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all .4s ease-in-out;
      }
}